MODULOS

In [1]:
import numpy as np
import pandas as pd

Creacion Data Frames

In [2]:
df_ALUCarrera = pd.read_csv('Alu_Carrera.csv', sep=';')
df_AluMateria = pd.read_csv('Alu_Materia.csv', sep=';')
df_Carreras = pd.read_csv('Carreras.csv', sep=';')
df_Finales = pd.read_csv('Finales.csv', sep=';')
df_Materias = pd.read_csv('Materias.csv', sep=';')

LIMPIEZA

Data Time a los DF

In [3]:
#Arreglo el problema de que los datos de tipo tiempo estan como si fueran tipo: objeto en vez de tipo: DataTime
df_ALUCarrera[['Fecha_Ingreso','Fecha_Nac']] = df_ALUCarrera[['Fecha_Ingreso','Fecha_Nac']].apply(pd.to_datetime)
df_AluMateria[['Fecha_Inscrip','Fecha_1p','Fecha_2p','Fecha_TP','Fecha_Recup']] = df_AluMateria[['Fecha_Inscrip','Fecha_1p','Fecha_2p','Fecha_TP','Fecha_Recup']].apply(pd.to_datetime)
df_Finales[['Fecha_Examen','Fecha_Inscrip_Examen']] = df_Finales[['Fecha_Examen','Fecha_Inscrip_Examen']].apply(pd.to_datetime)

Nota Media Finales x Año

In [4]:
df_Finales_Pre = df_Finales[df_Finales['Nota'] < 11]
#Creo la columa Año para poder tenerlo y asi usarlo en el groupby de mas adelante
df_Finales_Pre['Año'] = pd.DatetimeIndex(df_Finales_Pre['Fecha_Examen']).year

C:\Users\gino_\AppData\Local\Temp\ipykernel_25756\4265868390.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Finales_Pre['Año'] = pd.DatetimeIndex(df_Finales_Pre['Fecha_Examen']).year

In [5]:
#Uno el DF Carreras con el de finales para tener los nombres de las carreras
df_Finales_Pre = pd.merge(df_Finales_Pre,
                            df_Carreras[['Id_Carrera','Nombre_Corto']],
                            how='left',
                            on=['Id_Carrera'])
df_Finales_Pre

,Id_Alumno,Id_Carrera,Id_Materia,Semetre_Cursada,Año_Cursada,Fecha_Examen,Nota,Fecha_Inscrip_Examen,Año,Nombre_Corto
0,0xD2B32B6CE5A79C6AF97CACC9E4BAE8A4,2,68,1,2001,2001-07-27,9.0,NaT,2001,MARKETING
1,0xD2B32B6CE5A79C6AF97CACC9E4BAE8A4,2,69,1,2001,2001-07-24,10.0,NaT,2001,MARKETING
2,0xD2B32B6CE5A79C6AF97CACC9E4BAE8A4,2,70,1,2001,2001-07-19,7.0,NaT,2001,MARKETING
3,0xD2B32B6CE5A79C6AF97CACC9E4BAE8A4,2,71,2,2001,2001-12-07,5.0,NaT,2001,MARKETING
4,0xD2B32B6CE5A79C6AF97CACC9E4BAE8A4,2,72,2,2001,2002-02-26,8.0,NaT,2002,MARKETING
...,...,...,...,...,...,...,...,...,...,...
123542,0x24C9300567A882456A355E68B2980753,5,253,1,2004,2004-07-30,5.0,NaT,2004,DISEÑO GRÁFICO
123543,0x24C9300567A882456A355E68B2980753,5,256,2,2003,2003-12-15,6.0,NaT,2003,DISEÑO GRÁFICO
123544,0x24C9300567A882456A355E68B2980753,5,256,2,2003,2003-12-15,6.0,NaT,2003,DISEÑO GRÁFICO
123545,0x24C9300567A882456A355E68B2980753,5,259,1,2001,2001-07-26,9.0,NaT,2001,DISEÑO GRÁFICO
123546,0x24C9300567A882456A355E68B2980753,5,262,1,2002,2002-12-20,5.0,NaT,2002,DISEÑO GRÁFICO

In [6]:
#Creo un df que tenga el groupby de la nota media de cada carrera por año
Nota_Media = df_Finales_Pre.groupby(['Nombre_Corto','Año'])['Nota'].mean().reset_index(name='Cantidad')
Nota_Media

                   Nombre_Corto   Año  Cantidad
0    ADMINISTRACIÓN DE EMPRESAS  2001  6.208651
1    ADMINISTRACIÓN DE EMPRESAS  2002  6.276158
2    ADMINISTRACIÓN DE EMPRESAS  2003  5.622691
3    ADMINISTRACIÓN DE EMPRESAS  2004  6.021762
4    ADMINISTRACIÓN DE EMPRESAS  2005  5.937449
..                          ...   ...       ...
310                 VIDEOJUEGOS  2015  3.428571
311                 VIDEOJUEGOS  2016  7.500000
312                 VIDEOJUEGOS  2017  3.600000
313                 VIDEOJUEGOS  2018  5.947368
314                 VIDEOJUEGOS  2019  7.818182

[315 rows x 3 columns]

Carrera 59(Paisajismo)

In [7]:
#Averiguo como se llama la carrera
df_Carreras[df_Carreras['Id_Carrera']==59]

,Id_Carrera,Nombre_Largo,Nombre_Corto,Abreviatura,Cuatrimestres
12,59,TÉCNICO SUPERIOR EN SERVICIOS DE PAISAJISMO,SERVICIOS DE PAISAJISMO,SERPAI,2

In [8]:
#Averiguo el alumno que esta en esa carrera
df_ALUCarrera[df_ALUCarrera['Id_Carrera']==59]

,Id_Alumno,Id_Carrera,Semestre_Ingreso,Año_Ingreso,Id_Ctro_Ext,Id_Modalidad,Fecha_Ingreso,Activo,Sexo,Fecha_Nac
5280,0xB0A03BBB6C73C7774562C55F5FC33493,59,1,2010,CO,P,2010-03-16,S,F,1989-04-05

In [9]:
#Elimino todo registro de la carrera de Paisajismo 
df_Carreras = df_Carreras[df_Carreras['Id_Carrera'] != 59]
df_Finales = df_Finales[df_Finales['Id_Carrera'] != 59]
df_ALUCarrera = df_ALUCarrera[df_ALUCarrera['Id_Carrera'] != 59]
df_AluMateria = df_AluMateria[df_AluMateria['Id_Carrera'] != 59]

Alumnos repetidos

In [10]:
#Busco si hay datos repetidos en el df Alu carrera
df_ALUCarrera.nunique()

Id_Alumno           6083
Id_Carrera            21
Semestre_Ingreso       2
Año_Ingreso           10
Id_Ctro_Ext            6
Id_Modalidad           1
Fecha_Ingreso       1478
Activo                 2
Sexo                   2
Fecha_Nac           3689
dtype: int64

In [11]:
#Utilizo un gruopby para clasificar a los alumnos por sus ID y luego genero un Count de las carreras en las que estuvó.
AlumnosRepetidos = df_ALUCarrera.groupby(['Id_Alumno'])['Id_Carrera'].count().reset_index(name='Cantidad')
AlumnosRepetidos.sort_values(by='Cantidad',ascending=False)

                               Id_Alumno  Cantidad
5151  0xD939FAAAF156527DFE6AEF66BD58EC08         3
262   0x0B2A7CC35702CA0633BBE505C46E20B7         2
516   0x15E94E1B15A906ED1FCC3FDFA52CAE15         2
1053  0x2B01E5643FB16EAAD37F5E6B11BD58DD         2
2883  0x79B13DC1078AAB2A38BB6809E6CBFA6B         2
...                                  ...       ...
2047  0x55F73536165E5B06047CA5331E24C137         1
2046  0x55E163A5C693AF1F8F3D556A506A6F2C         1
2045  0x55CE7338DDD5859A4C2E65812B51B590         1
2044  0x55B609E8F4E6C76A98382D7C6E2DED71         1
6082  0xFFE8452F792919112FB2D75DC6EE3B31         1

[6083 rows x 2 columns]

Columna Edad y Vacio de Columnas Irrelevantes

In [12]:
#Busco Vaciar todos los datos de la fecha de nacimiento que son un error ya que nadie menor a 17 podria estar cursando la carrera 
df_ALUCarrera.loc[(pd.DatetimeIndex(df_ALUCarrera['Fecha_Ingreso']).year - pd.DatetimeIndex(df_ALUCarrera['Fecha_Nac']).year )<17, 'Fecha_Nac'] = np.nan

In [13]:
#Creo una columna llamada edad 
df_ALUCarrera['Edad'] = pd.DatetimeIndex(df_ALUCarrera['Fecha_Ingreso']).year - pd.DatetimeIndex(df_ALUCarrera['Fecha_Nac']).year

Estado del alumno en la materia

In [14]:
#Creo la columna y la lleno con un string arbitrario para poder modificarla luego
df_AluMateria['Condicion'] = 'Estado'

In [15]:
#Creo la condicion de promocionado.
df_AluMateria.loc[  (df_AluMateria['Nota_1p'] >= 7 ) & (df_AluMateria['Nota_1p'] != 11) 
                    & (df_AluMateria['Nota_2p'] >= 7 ) & (df_AluMateria['Nota_2p'] != 11)
                    & (df_AluMateria['Nota_TP'] >= 7 ) & (df_AluMateria['Nota_TP'] != 11)
                    , 'Condicion'] = 'Promocionado'
#Creo la condicion de Regular basandome en la de Promocionado y agregando algunas condiciones mas.
df_AluMateria.loc[  (df_AluMateria['Condicion'] !='Promocionado')
                    & ((df_AluMateria['Nota_TP'] >= 4) & (df_AluMateria['Nota_2p'] >= 4) & (df_AluMateria['Nota_1p'] >= 4) 
                        & (df_AluMateria['Nota_TP'] !=11) & (df_AluMateria['Nota_2p'] !=11) & (df_AluMateria['Nota_1p'] !=11)) 
                    | ((df_AluMateria['Nota_Recup']!= 11 ) & (df_AluMateria['Nota_Recup']>= 4 ))
                    , 'Condicion'] = "Regular"
#Creo la condicion de libre por descarte de la de Regular y Promocionado.
df_AluMateria.loc[  (df_AluMateria['Condicion'] != "Promocionado") & (df_AluMateria['Condicion'] !='Regular')
                    , 'Condicion'] = 'Libre'

Recursante

In [16]:
#Uso shift para usar el dato de la fila anterior y lo comparo con el de la fila actual.
#Si son iguales es porque el alumno esta recursando esa materia.
df_AluMateria['Tipo']=np.where(   ((df_AluMateria['Id_Materia'].shift() == df_AluMateria['Id_Materia']))
                                & ((df_AluMateria['Id_Carrera'].shift() == df_AluMateria['Id_Carrera']))
                                    ,'Recursante', np.nan)

Egresado, Cursante, Desertor

In [17]:
df_AluMateria['Egresado'] = 'Estado'

In [18]:
df_AluMateria = pd.merge(df_AluMateria,
                        df_Carreras[['Id_Carrera','Cuatrimestres']],
                        how='inner',
                        on=['Id_Carrera'])

In [19]:
pd.merge(df_AluMateria,
            df_ALUCarrera[['Id_Alumno','Año_Ingreso']],
            on=['Id_Alumno'])

,Id_Alumno,Id_Carrera,Id_Materia,Semestre,Año,Fecha_Inscrip,Ctro_Ext,Id_Modalidad,Id_Comision,Nota_1p,...,Nota_TP,Fecha_TP,Nota_Recup,Fecha_Recup,Cuatrimestre,Condicion,Tipo,Egresado,Cuatrimestres,Año_Ingreso
0,0x003014EF4D7D79987F42DE8E3080AEFE,6,115,2,2006,2006-08-16 15:02:00,CO,P,7,11.0,...,11.0,2006-11-29 00:00:00,11.0,2006-11-27,4,Libre,nan,Estado,6,2004
1,0x003014EF4D7D79987F42DE8E3080AEFE,6,121,1,2005,2005-03-10 18:12:00,CO,P,7,11.0,...,10.0,2005-12-05 15:44:00,11.0,2005-06-28,2,Libre,nan,Estado,6,2004
2,0x003014EF4D7D79987F42DE8E3080AEFE,6,121,2,2005,2005-08-17 18:50:00,CO,P,7,11.0,...,10.0,2005-12-05 15:44:00,11.0,2005-11-21,2,Libre,Recursante,Estado,6,2004
3,0x003014EF4D7D79987F42DE8E3080AEFE,6,198,1,2005,2005-03-10 18:12:00,CO,P,7,7.0,...,10.0,2005-12-05 15:44:00,NaN,NaT,2,Promocionado,nan,Estado,6,2004
4,0x003014EF4D7D79987F42DE8E3080AEFE,6,374,1,2006,2006-03-06 12:33:00,CO,P,7,6.0,...,7.0,2006-07-07 00:00:00,NaN,NaT,3,Regular,nan,Estado,6,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136392,0xCF164D1973E415B5E07F4C89EE94387E,11,374,1,2008,2008-04-23 09:24:00,CO,P,13,7.0,...,9.0,2008-07-07 00:00:00,NaN,NaT,2,Promocionado,nan,Estado,4,2008
136393,0xCF164D1973E415B5E07F4C89EE94387E,11,503,1,2009,2009-03-20 19:14:00,CO,P,10,6.0,...,7.0,2009-07-02 00:00:00,9.0,2009-07-02,2,Regular,nan,Estado,4,2008
136394,0x9A0FC8A7E53676925D0C35B5059B00BB,11,43,2,2001,2001-08-21 19:51:00,CO,P,7,11.0,...,10.0,2005-12-05 15:44:00,11.0,2001-11-26,4,Libre,nan,Estado,4,2001
136395,0x9A0FC8A7E53676925D0C35B5059B00BB,11,95,2,2001,2001-08-21 19:51:00,CO,S,7,7.0,...,10.0,2005-12-05 15:44:00,NaN,NaT,2,Promocionado,nan,Estado,4,2001
136396,0x9A0FC8A7E53676925D0C35B5059B00BB,11,97,2,2001,2001-08-21 19:51:00,CO,S,7,11.0,...,10.0,2005-12-05 15:44:00,11.0,2001-12-01,2,Libre,nan,Estado,4,2001

In [20]:
df_AluMateria.loc[ (df_AluMateria['Cuatrimestre'] == df_AluMateria['Cuatrimestres'])
                    , 'Egresado'] = 'Egresado'

Graficas

In [22]:
df_ALUCarrera

,Id_Alumno,Id_Carrera,Semestre_Ingreso,Año_Ingreso,Id_Ctro_Ext,Id_Modalidad,Fecha_Ingreso,Activo,Sexo,Fecha_Nac,Edad
0,0x12DA11908B130262F20F714810A49680,6,2,2010,CO,P,2010-07-30,S,M,1991-03-03,19.0
1,0xFCDE4E2EACC469337D296ECE6B5083C6,17,1,2006,CO,P,2006-02-24,S,M,1954-11-20,52.0
2,0xA3BDBF19D2825B585BDC0F65E86D8796,5,2,2002,CO,P,2002-07-08,S,F,1954-08-24,48.0
3,0xAF6D2C71940301E232468F8D144416EC,3,1,2003,CO,P,2003-03-27,S,M,1960-05-06,43.0
4,0x168E89946B989B88E831E0504967C017,3,1,2004,CO,P,2004-02-27,S,M,1984-02-21,20.0
...,...,...,...,...,...,...,...,...,...,...,...
6222,0xD16744D86C2291D5202A1EED300913F0,3,1,2004,CO,P,2004-03-04,S,F,1977-07-01,27.0
6223,0xAF518E2C93B390AF25F749F54DB737B4,5,1,2001,CO,P,2001-01-29,S,F,1972-01-02,29.0
6224,0xA8B6C3ED21A4552B540E3900220B4731,7,1,2008,CO,P,2008-03-17,S,F,1981-10-15,27.0
6225,0xF7429B8E39282FC1DF40B161539E970B,17,1,2009,CO,P,2009-03-26,S,M,1981-05-26,28.0
6226,0x24C9300567A882456A355E68B2980753,5,1,2001,CO,P,2001-03-06,S,F,1979-10-25,22.0

In [23]:
df_AluMateria

,Id_Alumno,Id_Carrera,Id_Materia,Semestre,Año,Fecha_Inscrip,Ctro_Ext,Id_Modalidad,Id_Comision,Nota_1p,...,Fecha_2p,Nota_TP,Fecha_TP,Nota_Recup,Fecha_Recup,Cuatrimestre,Condicion,Tipo,Egresado,Cuatrimestres
0,0x003014EF4D7D79987F42DE8E3080AEFE,6,115,2,2006,2006-08-16 15:02:00,CO,P,7,11.0,...,2006-11-20,11.0,2006-11-29 00:00:00,11.0,2006-11-27,4,Libre,nan,Estado,6
1,0x003014EF4D7D79987F42DE8E3080AEFE,6,121,1,2005,2005-03-10 18:12:00,CO,P,7,11.0,...,2005-06-22,10.0,2005-12-05 15:44:00,11.0,2005-06-28,2,Libre,nan,Estado,6
2,0x003014EF4D7D79987F42DE8E3080AEFE,6,121,2,2005,2005-08-17 18:50:00,CO,P,7,11.0,...,2005-11-14,10.0,2005-12-05 15:44:00,11.0,2005-11-21,2,Libre,Recursante,Estado,6
3,0x003014EF4D7D79987F42DE8E3080AEFE,6,198,1,2005,2005-03-10 18:12:00,CO,P,7,7.0,...,2005-06-23,10.0,2005-12-05 15:44:00,NaN,NaT,2,Promocionado,nan,Estado,6
4,0x003014EF4D7D79987F42DE8E3080AEFE,6,374,1,2006,2006-03-06 12:33:00,CO,P,7,6.0,...,2006-06-26,7.0,2006-07-07 00:00:00,NaN,NaT,3,Regular,nan,Estado,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131926,0xCF164D1973E415B5E07F4C89EE94387E,11,374,1,2008,2008-04-23 09:24:00,CO,P,13,7.0,...,2008-06-18,9.0,2008-07-07 00:00:00,NaN,NaT,2,Promocionado,nan,Estado,4
131927,0xCF164D1973E415B5E07F4C89EE94387E,11,503,1,2009,2009-03-20 19:14:00,CO,P,10,6.0,...,2009-06-18,7.0,2009-07-02 00:00:00,9.0,2009-07-02,2,Regular,nan,Estado,4
131928,0x9A0FC8A7E53676925D0C35B5059B00BB,11,43,2,2001,2001-08-21 19:51:00,CO,P,7,11.0,...,2001-11-14,10.0,2005-12-05 15:44:00,11.0,2001-11-26,4,Libre,nan,Egresado,4
131929,0x9A0FC8A7E53676925D0C35B5059B00BB,11,95,2,2001,2001-08-21 19:51:00,CO,S,7,7.0,...,2001-10-26,10.0,2005-12-05 15:44:00,NaN,NaT,2,Promocionado,nan,Estado,4
131930,0x9A0FC8A7E53676925D0C35B5059B00BB,11,97,2,2001,2001-08-21 19:51:00,CO,S,7,11.0,...,2001-12-01,10.0,2005-12-05 15:44:00,11.0,2001-12-01,2,Libre,nan,Estado,4

In [21]:
# Cantidad de alumnos por materia a lo largo de los años
# Nota promedio por carrera a lo largo de los años en los finales.
# Nota promedio por carrera dividida en hombres y mujeres
# Edad Promedio de varones y mujeres en el ies
# Edad promedio de varones y mujeres por carrera
#