In [20]:
import pandas as pd
import nltk
from nltk import sent_tokenize, regexp_tokenize # Separa en oraciones el texto, separa las oraciones en sus palabras
from nltk.stem.snowball import stopwords #Importo las stopwords
from collections import Counter #Traigo el contador de palabras
nltk.download('stopwords') #Descargo las stopwords
nltk.download('punkt')
stops = set(stopwords.words('spanish'))# Determino el idioma de mis stopwords
from sklearn.feature_extraction.text import TfidfVectorizer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Alumno\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Alumno\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [12]:
with open(r'C:\Users\Alumno\IA_Ciencia_Datos\Semestre 4\Procesamiento De Lenguaje Natural\Clase\Clase 14 10\Documento1.txt', mode='r') as d1:
    documento1 = d1.read()
with open(r'C:\Users\Alumno\IA_Ciencia_Datos\Semestre 4\Procesamiento De Lenguaje Natural\Clase\Clase 14 10\Documento2.txt',mode='r') as d2:
    documento2 = d2.read()
with open(r'C:\Users\Alumno\IA_Ciencia_Datos\Semestre 4\Procesamiento De Lenguaje Natural\Clase\Clase 14 10\Documento3.txt',mode='r') as d3:
    documento3 = d3.read()

In [13]:
documento1 = documento1.lower()
documento2 = documento1.lower()
documento3 = documento3.lower()

In [15]:
Oraciones1 = sent_tokenize(documento1)
Oraciones2 = sent_tokenize(documento2)
Oraciones3 = sent_tokenize(documento3)

In [16]:
Palabras1 = []
Palabras2 = []
Palabras3 = []
for oracion in Oraciones1:
    for palabra in regexp_tokenize(oracion,pattern='\w+'): 
        Palabras1.append(palabra)
for oracion in Oraciones2: 
    for palabra in regexp_tokenize(oracion,pattern='\w+'):
        Palabras2.append(palabra)
for oracion in Oraciones3: 
    for palabra in regexp_tokenize(oracion,pattern='\w+'): 
        Palabras3.append(palabra)

In [18]:
filtro1 = []
filtro2 = []
filtro3 = []
for palabra in Palabras1: 
    if palabra not in stops:
        filtro1.append(palabra)
for palabra in Palabras2: 
    if palabra not in stops:
        filtro2.append(palabra)
for palabra in Palabras3: 
    if palabra not in stops:
        filtro3.append(palabra)

In [22]:
vectorizador = TfidfVectorizer()
vectors = vectorizador.fit_transform([str(filtro1),str(filtro2),str(filtro3)])
features_names = vectorizador.get_feature_names()
dense = vectors.todense()
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns=features_names)

In [23]:
df

,10,12,14,149,16,17,2021,21,66,83,...,variación,variaron,varios,verduras,vestir,vieron,vio,vivienda,viviendas,único
0,0.075881,0.000000,0.000000,0.09771,0.000000,0.09771,0.09771,0.000000,0.09771,0.09771,...,0.000000,0.000000,0.075881,0.000000,0.075881,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.075881,0.000000,0.000000,0.09771,0.000000,0.09771,0.09771,0.000000,0.09771,0.09771,...,0.000000,0.000000,0.075881,0.000000,0.075881,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.078950,0.044558,0.044558,0.00000,0.044558,0.00000,0.00000,0.044558,0.00000,0.00000,...,0.133674,0.044558,0.026317,0.044558,0.026317,0.044558,0.044558,0.044558,0.044558,0.044558